{% extends "schatz/base.html" %}
{% load static %}

{% block title %}Главная - Питомник такс Lieblings Schatz{% endblock %}
{% block content %}
					<h1>Приветствуем Вас на сайте питомника такс "Lieblings Schatz"</h1>
					<p>Если Вы пришли на наш сайт, значит Вам либо предстоит стать счастливым обладателем такой прекрасной и жизнерадостной собакой, как такса, либо у Вас уже есть один, два и т.д. питомцев, и Вы решились приобрести ему(им) друга.</p>
					<p>Я так говорю по той причине, что история появления в нашем доме собаки очень похожа на историю появления питомцев в других семьях, а впоследствии и не одного. Но начну по порядку...</p>
					<p>Однажды мне захотелось собаку, как ни странно это может звучать. Проведя семейный совет пришли к выводу, что возьмем таксу. И тут стал вопрос: где ее взять?</p>
					<p>Немного подумав решили, что брать на зоорынке будет не самым верным решением, поскольку пока собачка маленькая, можно ошибиться с выбором, и взять собаку породы "Хочу быть таксой". Тогда, чтоб быть увереным в том, что это действительно чистопородная такса, поняли, что у нее обязательно должны быть документы КСУ.</p>
					<p>Так, после непродолжительных поисков, мы нашли просто невероятную милашку с необычным тигровым окрасом. И просто влюбились в нее.</p>
					<p>В дальнейшем стало интересно, что же это за выставки, на которых люди показывают своих любимцев. А раз появился интерес, значит обязательно нужно сходить и показать себя.</p>
					<p>С этого момента началась выставочная жизнь нашей любимицы, общение с другими собаками, большими и маленькими. Однако выставочная карьера это далеко не все, о чем приходилось задумываться, со временем нужно было думать и о потомстве. А для этого нужно было найти жениха, что оказалось совсем непросто, потому как среди тех собак, которые есть в Украине и которых можно было бы рассмотреть на эту роль, в предках были общие родственники.</p>
					<p>Таким образом решили взять себе вторую собаку и жениха по-совместительству для нашей любимицы.</p>
					<p>Ну а уже после приобретения второй собаки родилась идея создать свой питомник, который мы и назвали "Lieblings Schatz", что в переводе с немецкого означает: "Любимое сокровище".</p>
{% endblock %}