{% extends "schatz/base.html" %}
{% load static %}

{% block title %}Главная - Питомник такс Lieblings Schatz{% endblock %}
{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'schatz/css/blueimp-gallery.min.css' %}">
{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
{% if not 'tag' in request.path %}
	{% with photos|first as photo %}
	<h2>{{ photo.album }}</h2>
	{% endwith %}
{% endif %}
<div id="tags">
	{% for tag in tags_set %}
	<a href="{% url 'tagged' tag.slug %}">{{ tag }}</a>
	{% endfor %}
</div>
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="links">
{% for photo in photos %}
		<a href="/media/{{ photo.photo }}" title="{{ photo.title }}">
			<img src="/media/{{ photo.thumbnail }}">
		</a>
{% endfor %}
</div>
</div>
{% endblock %}
{% block js_extra %}
<script src="{% static 'schatz/js/blueimp-gallery.min.js' %}"></script>
<script>
	document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
{% endblock %}