/* Main styles */

body {
	background-image: url('../i/a.jpg');
	background-repeat: repeat;
	background-color: #39c;
}
.container {
	margin-top: 20px;
}
.logo {
	margin-top: 15px;
}
.bg {
	background-color: rgba(255, 255, 255, 0.85);
	background-clip: content-box;
	margin-top: -20px;
}
.content {
	border-left: 2px solid #ccc;
}
.content p {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
img {
	max-width: 100%;
	max-height: 100%;
}
#map {
	height: 500px;
}
/* Navigation menu */

.navbar {
	background-color: #007849;
}
.nav-justified li {
	padding: 5px;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 14pt;
}
li a {
	color: #FFCE00;
}
.nav-pills > li.active > a {
	background-color: #43a047;
}
.nav-pills > li.active > a:hover {
	background-color: #4caf50;
}
.nav-pills > li > a:hover {
	color: white;
	background-color: #4caf50;
}

/* Left sidebar */

.info-bar {
	padding: 10px;
}
.info-bar img {
	margin-bottom: 10px;
}
.fa-youtube-play {
	color: #e52d27;
}
.fa-facebook {
	color: #3b5998;
}

/* Footer */
.footer {
	background-color: rgba(149, 210, 80, 0.8);
	background-clip: content-box;
	margin-bottom: 20px;
}
.inner {
	padding: 10px;
}