{% extends "_base.html" %}

{% block title %}Наши контакты - Питомник такс Lieblings Schatz{% endblock %}
{% block head %}<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>{% endblock %}
{% block content %}
<h3>Владелец питомника &quot;Lieblings Schatz&quot;":</h3>
<p>Смедюк Мария</p>
<p>+38 067 302 70 80 <span class="label label-primary">Киевстар</span></p>
<p>+38 095 632 90 85 <span class="label label-danger">МТС</span></p>
<p><a id="skype" href="skype:kingphoenixx?call">Skype <span class="fa-skype fa"></span></a></p>
<h3>Мы на карте</h3>
<div id="map"></div>
<h3>Напишите нам:</h3>
<div class="col-md-12 well">
	<form action="https://formspree.io/olesm1984@gmail.com" method="POST">
	  <div class="col-md-5">
	  	<div class="form-group">
	      <label for="name" class="control-label">Ваше имя</label>
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	      	<input type="text" class="form-control" id="name" placeholder="Введите имя" name="name" required>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputEmail" class="control-label">Email</label>
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	      	<input type="email" class="form-control" id="inputEmail" placeholder="Email" name="_replyto" required>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="subject" class="control-label">Тема</label>
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
	      	<input type="text" class="form-control" id="subject" placeholder="Тема сообщения" name="_subject" required>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-7">
	  	<div class="form-group">
	  		<label for="textarea" class="control-label">Текст сообщения</label>
	  		<div class="input-group">
	  			<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	  			<textarea id="textarea" class="form-control" rows="6" placeholder="Введите текст" name="text" required></textarea>
	  		</div>
	  	</div>
	  </div>
	  <div class="col-md-12">
	    <div class="form-group text-right">
	    	<input type="text" name="_gotcha" style="display:none" />
	      <button type="submit" class="btn btn-primary btn-success">Отправить</button>
	    </div>
	  </div>
	</form>
</div>
{% endblock %}
{% block endbody %}<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm2407SoTzY0fmc3khnW8oGkgd0GtM9mU&callback=initMap">
</script>{% endblock %}